.titleUser{
    text-align: center;
}
.titleUser p {
    color: #d99904;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 14px;
}
.titleUser h3 {
    border-top: 3px solid #1E8F85;
    border-bottom: 3px solid #1E8F85;
    font-size: 26px;
    font-weight: 600;
    padding: 12px 0;
}




.hedInfo h2 {
    font-size: 26px;
    font-family: emoji;
    font-weight: 700;
}
.hedInfo h3{
    font-size: 26px;
    font-family: emoji;
    font-weight: 700;
}
.hedInfo button {
    background-color: #d1a054;
    color: white;
    padding: 6px 17px;
    border-radius: 6px;
    font-weight: 500;
    font-size: 18px;
    font-family: fangsong;
}




.Header {
    background-color: #1E8F85 !important;
    padding: 10px 0;
    width: 100%;
}
.Header th {
    color: black;
    font-size: 13px;
    font-weight: 700;
    font-family: auto;
    padding-top: 20px;
    text-align: center;
    line-height: 20px;
}

.deleteButton {
    color: #ed1c24;
    border: 1px solid #1e8f85;
    border-radius: 6px;
    font-size: 16px;
    width: -webkit-fill-available;
    font-size: 19px;
}

.AdminButton {
    color: #1e8f85;
    border: 1px solid #1e8f85;
    border-radius: 6px;
    font-size: 16px;
    width: 100px;
    height: 44px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 5px;
}
.InstructorButton {
    margin-top: 5px;
    color: #1e8f85;
    border: 1px solid #1e8f85;
    border-radius: 6px;
    font-size: 16px;
    width: 100px;
    height: 44px;
    text-align: center;
    font-weight: 700;
}